# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
env.bak/
venv.bak/
.env
instance/
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Database
*.db
*.sqlite3

# Mac OS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Flask specific
instance/
